/*general stíling from joshwcomeau.com*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*    CUSTOM PROPERTIES*/
:root {
  --primary-font: "Lexend Deca", sans-serif;
  --decorative-font: "Big Shoulders Display", sans-serif;
  --color-orange: hsl(31, 77%, 52%);
  --color-cyan: hsl(184, 100%, 22%);
  --color-cyan-dark: hsl(179, 100%, 13%);
  --color-paragraph: hsla(0, 0%, 100%, 0.75);
  --color-button: hsl(0, 0%, 95%);
  --font-size: 1.5rem;
}

/*  GENERAL PROPERTIES*/

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

/*    SPECIFIC PROPERTIES*/

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 900px;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 375px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 0%;
    overflow: visible;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
  height: 62vh;
  justify-content: space-evenly;
}
.card-sedan {
  background-color: var(--color-orange);
}
.card-suv {
  background-color: var(--color-cyan);
}
.card-luxury {
  background-color: var(--color-cyan-dark);
}
.heading {
  font-family: var(--decorative-font);
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-paragraph);
}

p {
  color: var(--color-paragraph);
  font-family: var(--primary-font);
  font-size: var(--font-size);
}

/*BUTTONS*/
.btn {
  padding: 1rem 0.5rem 1rem 0.5rem;
  outline: none;
  border-radius: 35px;
  border: none;
  font-size: var(--font-size);
  font-family: var(--primary-font);
  background-color: var(--color-paragraph);
  max-width: 150px;
}
.btn-sedan {
  color: var(--color-orange);
}
.btn-suv {
  color: var(--color-cyan);
}
.btn-luxury {
  color: var(--color-cyan-dark);
}
.btn:is(:hover, :active) {
  background-color: inherit;
  color: var(--color-paragraph);
  border: 2px solid var(--color-paragraph);
}
